body {
    margin: 0;
    background-color: #ddd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo {
    width: 300;
    height: 100;
    margin: 0 auto; 
    display: block;
    margin-top: 32;
}

#banner {
    width: 100%;
}

#mainContainer {
    background-color: white;
    width: 60%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 32;
}

#titulo {
    text-align: center;
}

.questionContainer{
    background-color: #fff;
    width: 400;
    margin: 0 auto; 
    padding: 8;
}

.questionContainer input{
    margin: 0 auto; 
    display: block;
}

.questionContainer select{
    margin: 0 auto; 
    display: block;
}

.questionLabel{
    color: #1224FD;
    text-align: center;
}

button{
    background-color: #1224FD;
    padding: 10;
    display: block;
    margin: 0 auto;
    color: #ddd;
    margin-top: 32;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16;
    cursor: pointer;
}

a{
    margin: 32;
}
